<!doctype html>
<html lang="en">

<head>
    <title>Tabla</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="./img/compras.png" type="image/x-icon">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <main>
        <div id="app" class="container">
            
            <br>
            <a class="btn-nuevo btn-2" href="producto_nuevo.html">Nuevo</a>
            <br><br> 
            <div v-if="error">
                <p>Lo sentimos, ha ocurrido un error. Por favor, inténtelo de nuevo más tarde.</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando ...</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="producto in productos" :key="producto.id">
                                    <td scope="row">{{producto.id}}</td>
                                    <td>{{producto.nombre}}</td>
                                    <td>
                                        <p class="precio">${{producto.precio}}</p>
                                    </td>
                                    <td>{{producto.stock}}</td>
                                    <td>
                                        <img width="60" :src="producto.imagen" :alt="producto.nombre">
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" :href="'producto_update.html?id=' + producto.id">Editar</a>
                                        <button type="button" class="btn btn-danger" @click="eliminar(producto.id)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>

        
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script><!--Link de Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script><!--Link de Bootstrap-->
    <script src="./js/main.js"></script>
    <script src="./js/barra.js"></script>
    <script src="./js/footer.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/productos.js"></script>
</body>

</html>